@use '../abstracts/functions' as *;

.board {
  display: grid;
  grid-template-columns: repeat(var(--cols), u(var(--card-w)));
  gap: u(16);
  justify-content: center;

  &[data-size='4x4'] {
    --cols: 4;
  }

  &[data-size='4x6'],
  &[data-size='6x6'] {
    --cols: 6;
  }
}
