@use '../abstracts/variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: $color-bg;
  color: $color-white;
  font-family: $font-family;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

#content {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  overflow: hidden;
}

// Content for screen readers only
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}
